<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-wEmeIV1mKuiNpC+IOBjI7aAzPcEZeedi5yW5f2yOq55WWLwNGmvvx4Um1vskeMj0" crossorigin="anonymous">
    <link rel = "stylesheet" href = "../styles/genStyles.css">
    <link rel = "stylesheet" href = "../styles/drawings.css">
    <title>Drawings</title>
</head>
<body>
    <div class="bg"></div>
    <div class="bg bg2"></div>
    <div class="bg bg3"></div>
    <nav class="navbar navbar-expand-lg navbar-light" style="background-color: #adff2f">
        <img src = "../assets/Logo.jpg" alt = "Logo">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
          <div class="navbar-nav">
            <a class="nav-item nav-link" href="/">Home</a>
            <a class="nav-item nav-link active" href="d">Drawings <span class="sr-only">(current)</span></a>
            <a class="nav-item nav-link" id = "Settings" href="set">Settings</a>
            <a class="nav-item nav-link" href="">Info</a>
          </div>
        </div>
    </nav>
    <div id = "container">
        {{#if rooms}}
        <div id = "draws-title">Recent drawings:</div>
        {{#each rooms}}
            <a href = {{drawPath this.url}}>
                <div class = "drawing-card" number = {{@index}}>
                    <div class = "card-info">
                        {{this.name}}
                        <p>Creation date:  {{prettyDate this.date}}</p>
                    </div>
                </div>
            </a>
        {{/each}}
        {{else}}
            <h1>You have no drawings yet</h1>   
            <h5>Click '+' in the bottom right corner to create a new one</h5>
            <script>
                document.getElementById('container').style.backgroundColor = "transparent"
            </script>
        {{/if}}
    </div>
    <ul id = "drawing_ctx_menu">
        <a><li id = "del_option">Delete</li><a>
    </ul>
    <a href = "/d/c">
        <button id = "create_btn"></button>
    </a>
<script>
    const ctxMenu = document.getElementById('drawing_ctx_menu')
    let drawingCards = document.getElementsByClassName('drawing-card')
    for(let i = 0;i < drawingCards.length;i++){
        drawingCards[i].addEventListener('contextmenu', (event) => {
            event.preventDefault()
            ctxMenu.style.top = `${event.clientY}px`
            ctxMenu.style.left = `${event.clientX}px`
            ctxMenu.style.display = 'block'
            let delLink = ctxMenu.children[0]
            delLink.setAttribute('href', '/d/del/'+i)
            delLink.style.textDecoration  = 'none'
            delLink.style.color = 'black'
        })
    }
    ctxMenu.addEventListener('click', (event) => {
        event.stopPropagation()
    })
    window.addEventListener('click', () => {
        ctxMenu.style.display = ''
    })
    window.addEventListener('scroll', () => {
        ctxMenu.style.display = ''
    })
</script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-p34f1UUtsS3wqzfto5wAAmdvj+osOnFyQFpp4Ua3gs/ZVWx6oOypYoCJhGGScy+8" crossorigin="anonymous"></script>
</body>
</html>